{% extends 'plagapp/base.html' %}
{% block body_block %}
{% load static %}   

<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <form method="POST" class="login100-form validate-form" enctype="multipart/form-data" target="_blank">
          {% csrf_token %}
          <span class="login100-form-title p-b-55">
            Plagiarism Checker
          </span>
          
          {{form.as_P}}
          
          <div class="container-login100-form-btn p-t-25">
            <button type="submit" class="login100-form-btn">
              Check!
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% endblock %}