{% extends 'plagapp/base.html' %}
{% block body_block %}
{% load static %}
<div class="limiter">
    <div class="container-login100">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <a class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
      <i class="fas fa-paperclip" aria-hidden="true"></i>
      <input type="file" name="f1" >
      <input type="file" name="f2" >
    </a>
    <br>
    <button type="submit" class="login100-form-btn">Upload</button>
  </form>
  {% if uploaded_file_url %}
    <p>File uploaded!</p>
    <!--<a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>-->
  {% endif %}
</div>
{% endblock %}